<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="ilg.gnumcueclipse.debug.gdbjtag.dsf.GnuMcuLaunch"
			class="ilg.gnumcueclipse.debug.gdbjtag.dsf.GnuMcuAdapterFactory">
			<!-- this list needs to match the list of adapters that GnuMcuAdapterFactory's 
				super class can adapt to, see org.eclipse.cdt.dsf.gdb.ui/plugin.xml for reference 
				list -->
			<adapter
				type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider" />
			<adapter
				type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory" />
			<adapter type="org.eclipse.debug.ui.contexts.ISuspendTrigger" />
			<adapter
				type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory" />
			<adapter type="org.eclipse.debug.core.commands.ITerminateHandler" />
			<adapter type="org.eclipse.cdt.debug.core.model.IConnectHandler" />
			<adapter type="org.eclipse.debug.core.commands.IDisconnectHandler" />
			<adapter
				type="org.eclipse.cdt.debug.core.model.IDebugNewExecutableHandler" />
		</factory>
	</extension>

	<extension point="org.eclipse.debug.ui.memoryRenderings">
		<renderingType
			class="ilg.gnumcueclipse.debug.gdbjtag.render.peripheral.PeripheralRenderingDelegate"
			id="ilg.gnumcueclipse.debug.gdbjtag.memoryRendering"
			name="Peripheral">
		</renderingType>
		<renderingBindings
			defaultIds="ilg.gnumcueclipse.debug.gdbjtag.memoryRendering"
			primaryId="ilg.gnumcueclipse.debug.gdbjtag.memoryRendering"
			renderingIds="ilg.gnumcueclipse.debug.gdbjtag.memoryRendering">
			<!-- org.eclipse.debug.ui.rendering.raw_memory not yet functional -->
			<enablement>
				<or>
					<!-- Without this instanceof, adding memory renderings fail with NPE -->
					<instanceof
						value="ilg.gnumcueclipse.debug.gdbjtag.memory.PeripheralMemoryBlockExtension" />
				</or>
			</enablement>
		</renderingBindings>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="ilg.gnumcueclipse.core.ui.preferences.mcu"
			class="ilg.gnumcueclipse.debug.gdbjtag.preferences.WorkspaceRegisterListPage"
			id="ilg.gnumcueclipse.debug.gdbjtag.workspaceRegisterListPreferencePage"
			name="%preferences.workspaceRegisterList">
		</page>
		<page
			category="ilg.gnumcueclipse.core.ui.preferences.mcu"
			class="ilg.gnumcueclipse.debug.gdbjtag.preferences.GlobalRegisterListPage"
			id="ilg.gnumcueclipse.debug.gdbjtag.globalRegisterListPreferencePage"
			name="%preferences.globalRegisterList">
		</page>
		<page
			category="ilg.gnumcueclipse.core.ui.preferences.mcu"
			class="ilg.gnumcueclipse.debug.gdbjtag.preferences.WorkspaceHwBreakpointLimitPage"
			id="ilg.gnumcueclipse.debug.gdbjtag.workspaceHwBreakpointLimitPage"
			name="%preferences.workspaceHwBreakpointLimit">
		</page>
		<page
			category="ilg.gnumcueclipse.core.ui.preferences.mcu"
			class="ilg.gnumcueclipse.debug.gdbjtag.preferences.GlobalHwBreakpointLimitPage"
			id="ilg.gnumcueclipse.debug.gdbjtag.globalHwBreakpointLimitPage"
			name="%preferences.globalHwBreakpointLimit">
		</page>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="ilg.gnumcueclipse.core.ui.properties.mcu"
			class="ilg.gnumcueclipse.debug.gdbjtag.ui.properties.ProjectRegisterListPage"
			id="ilg.gnumcueclipse.debug.gdbjtag.projectRegisterListPropertiesPage"
			name="%properties.registerlist">
			<filter
				name="projectNature"
				value="org.eclipse.cdt.core.cnature">
			</filter>
			<enabledWhen>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject">
					</instanceof>
					<test forcePluginActivation="true" property="ilg.gnumcueclipse.managedbuild.cross.isGnuMcu">
					</test>
				</and>
			</enabledWhen>
		</page>
		<page
			category="ilg.gnumcueclipse.core.ui.properties.mcu"
			class="ilg.gnumcueclipse.debug.gdbjtag.ui.properties.ProjectHwBreakpointLimitPage"
			id="ilg.gnumcueclipse.debug.gdbjtag.projectHwBreakpointLimitPropertiesPage"
			name="%properties.HwBreakpointLimit">
			<filter
				name="projectNature"
				value="org.eclipse.cdt.core.cnature">
			</filter>
			<enabledWhen>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject">
					</instanceof>
					<test forcePluginActivation="true" property="ilg.gnumcueclipse.managedbuild.cross.isGnuMcu">
					</test>
				</and>
			</enabledWhen>
		</page>
	</extension>

</plugin>
