<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- 
	# Copyright (c) 2009, 2011 Wind River Systems, Inc. and others. 
	# All rights reserved. This program and the accompanying materials 
	# are made available under the terms of the Eclipse Public License v1.0 
	# which accompanies this distribution, and is available at 
	# http://www.eclipse.org/legal/epl-v10.html 
	# 
	# Contributors: 
	# Doug Schaefer (Wind River) - initial API and implementation 
	# Anna Dushistova (Mentor Graphics)- [329531][crossgcc] crossgcc fails to build a project 
	# Liviu Ionescu - ARM version 
	# Liviu Ionescu - RISC-V version 
-->
<plugin>
	<extension-point
		id="toolchains"
		name="Extra toolchains"
		schema="schema/toolchains.exsd" />
	<extension point="org.eclipse.cdt.ui.cPropertyTab">
		<tab
			class="ilg.gnumcueclipse.managedbuild.cross.riscv.ui.TabToolchains"
			helpId="cdt_u_prop_build_setting_tool"
			icon="icons/elcl16/config-tool.gif"
			name="%tab.toolchainSettings"
			parent="org.eclipse.cdt.managedbuilder.ui.properties.Page_BuildSettings"
			tooltip="Select and configure the toolchain  "
			weight="012">
		</tab>
	</extension>
	<extension point="ilg.gnumcueclipse.debug.core.cprojectExtra">
		<factory
			class="ilg.gnumcueclipse.managedbuild.cross.xpi.CProjectExtraDataManagerFactory">
		</factory>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="ilg.gnumcueclipse.managedbuild.cross.riscv.preferences.DefaultPreferenceInitializer">
		</initializer>
	</extension>
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="ilg.gnumcueclipse.managedbuild.cross.riscv.ui.GnuRiscvPropertyTester"
			id="ilg.gnumcueclipse.managedbuild.cross.riscv.propertyTester"
			namespace="ilg.gnumcueclipse.managedbuild.cross.riscv"
			properties="isGnuRiscv"
			type="java.lang.Object">
		</propertyTester>
	</extension>
</plugin>
